- c_items = 0
- if @users.count > 0
  .search-section= t :people
  %ul
    - @users.each do |u|
      - c_items += 1
      %li
        = link_to url_for(:controller => "users", :action => "profile", :username => "#{u.username}"), :method => :get, :remote => true, :class => 'get-user', :'data-type' => 'html', :id => "search_user_#{u.id}", :username => "#{u.username}" do
          .search-item-display=  image_tag u.image_url(:small).to_s, :width => 32, :height => 32, :class => "profile-picture-small", :title => "#{u.display_name}"
          .search-item-title= u.display_name
          .search-item-desc
            .search-item-email= u.email
            .search-item-phone= u.work_phone
            .search-item-groups
              - user_groups = Array.new
              - u.groups.each do |g|
                - if g.group_type.display_in > 0 
                  - user_groups << g.name
              = user_groups.join(',')
          .clearfix

- if @groups.count > 0
  .search-section= t :groups
  %ul
    - @groups.each do |g|
      - c_items += 1
      %li
        = link_to url_for(:controller => "groups", :action => "show", :short_name => "#{g.short_name}"), :method => :get, :remote => true, :class => 'get-group', :'data-type' => 'html', :id => "search_group_#{g.id}", :short_name => "#{g.short_name}", :group_id => g.id do
          .search-item-display
            = image_tag '/assets/icons/group.png', :width => 32, :height => 32, :class => "profile-picture-small"
          .search-item-title= g.name
          .search-item-desc= g.description
          .clearfix

- if @pages.count > 0
  .search-section= t :pages
  %ul
    - @pages.each do |p|
      - c_items += 1
      %li
        = link_to url_for(:controller => "pages", :action => "show_group_page", :group_short_name => p.group.short_name, :page_short_name => p.short_name), :method => :get, :remote => true, :class => 'get-page', :'data-type' => 'html', :id => "page_link_#{p.id}", :group_name => "#{p.group.short_name}", :short_name => "#{p.short_name}", :page_id => "#{p.id}" do
          .search-item-display
            = image_tag '/assets/icons/page.png', :width => 32, :height => 32, :class => "profile-picture-small"
          .search-item-title= p.title
          .search-item-desc= p.group.name
          .clearfix

- if @posts.count > 0
  .search-section= t :posts
  %ul
    - @posts.each do |p|
      - c_items += 1
      %li
        = link_to url_for(:controller => 'posts', :action => 'show', :id => p.id), :method => :get, :remote => true, :class => 'get-post', :'data-type' => 'html', :id => "post_link_search_#{p.id}", :post_id => "#{p.id}" do
          .search-item-display=  image_tag p.user.image_url(:small).to_s, :width => 32, :height => 32, :class => "profile-picture-small", :title => "#{p.user.display_name}"
          .search-item-desc
            = p.content
            .search-item-date= post_date(p.created_at)
        .clearfix

- has_files = false
- if @page_file_sections.count > 0
  - has_files = true
  .search-section= t :files
  %ul
    - @page_file_sections.each do |f|
      - c_items += 1
      %li
        = link_to url_for(:controller => "pages", :action => "show_group_page", :group_short_name => f.page.group.short_name, :page_short_name => f.page.short_name), :method => :get, :remote => true, :class => 'get-page', :'data-type' => 'html', :id => "page_link_#{f.page.id}", :group_name => "#{f.page.group.short_name}", :short_name => "#{f.page.short_name}", :page_id => "#{f.page.id}" do
          .search-item-display
            = image_tag '/assets/icons/page.png', :width => 32, :height => 32, :class => "profile-picture-small"
          .search-item-title= f.page.title
          .search-item-desc= "#{f.title}: #{f.description}"
          .clearfix

- if @page_files.count > 0
  - if !has_files
    .search-section= t :files
  - has_files = true
  %ul
    - @page_files.each do |f|
      - c_items += 1
      %li
        = link_to url_for(:controller => "pages", :action => "show_group_page", :group_short_name => f.page_file_section.page.group.short_name, :page_short_name => f.page_file_section.page.short_name), :method => :get, :remote => true, :class => 'get-page', :'data-type' => 'html', :id => "page_link_#{f.page_file_section.page.id}", :group_name => "#{f.page_file_section.page.group.short_name}", :short_name => "#{f.page_file_section.page.short_name}", :page_id => "#{f.page_file_section.page.id}" do
          .search-item-display
            = image_tag '/assets/icons/page.png', :width => 32, :height => 32, :class => "profile-picture-small"
          .search-item-title= f.page_file_section.page.title
          .search-item-desc= "#{f.title}: #{f.description}"
          .clearfix

- if @apps.count > 0
  .search-section= t :applications
  %ul
    - @apps.each do |app|
      - c_items += 1
      - if app.app_type == Application::APP_EXTERNAL
        - if app.url.to_s.index("?")
          - sep = "&";
        - else
          - sep = "?";
        - url = "#{app.url}#{sep}username=#{current_user.username}&token=#{current_user.token}&app=#{app.short_name}"
        %li
          %a{:class => 'get-external-app', :app_url => url}
            .search-item-display= image_tag app.icon, :width => '32', :height => '32'
            .search-item-title= app.name
            .clearfix
      - else
        %li
          = link_to app.url, :target => '_blank'  do
            .search-item-display= image_tag app.icon, :width => '32', :height => '32'
            .search-item-title= app.name
            .clearfix

- if c_items == 0
  %ul
    %li.no-results= t :no_results_found
