.sidebar-block
  #group-members
    - members = group.memberships
    %h3= "#{t :members} (#{members.count})"
    - members.each do |member|
      %span.member
        = link_to url_for(:controller => "users", :action => "profile", :username => "#{member.user.username}"), :method => :get, :remote => true, :class => 'get-user', :'data-type' => 'html', :id => "member_user_#{member.id}", :username => "#{member.user.username}" do
          = image_tag user_image(member.user.id, 'small'), :width => 32, :height => 32, :class => "profile-picture-small", :title => "#{member.user.display_name}"
    .clearfix

