#groups-area
  %ul.group-types
    - @groups.each do |group_type|
      %li
        .group-type-title= group_type.name
        %ul.groups 
          - group_type.group.order('position').each do |group|
            %li.group-title
              = link_to group, :method => :get, :remote => true, :class => 'get-group', :'data-type' => 'html', :id => "group_link_#{group.id}", :short_name => "#{group.short_name}" do
                = group.name
