#user-info
  #user-display= image_tag current_user.image_url(:small).to_s, :width => 32, :height => 32, :class => "profile-picture-small"
  #user-name
    = current_user.display_name
    = image_tag "down-arrow.png", :id => "user-arrow"
#user-nav
  %ul.user-menu
    %li
      = link_to "/" do
        .app-item
          .app-icon= image_tag "icons/home.png", :width => '24', :height => '24'
          .app-name= t :home_link
    - current_user.applications.order(:name).each do |app|
      - if app.app_type == Application::APP_EXTERNAL
        - if app.url.to_s.index("?") 
          - sep = "&";
        - else
          - sep = "?";
        - url = "#{app.url}#{sep}username=#{current_user.username}&token=#{current_user.token}&app=#{app.short_name}"
        %li{:class => 'get-external-app', :app_url => url}
          .app-item
            .app-icon= image_tag app.icon, :width => '24', :height => '24'
            .app-name= app.name
      - else
        %li
          .app-item
            .app-icon= image_tag app.icon, :width => '24', :height => '24'
            .app-name= app.name


    %li
      = link_to "/logout" do
        .app-item
          .app-icon= image_tag "icons/logout.png", :width => '24', :height => '24'
          .app-name= t :logout

