- can_publish = membership.can_publish == 1 rescue false
- can_admin = membership.can_admin == 1 rescue false
- can_modify_others = membership.can_admin == 1 rescue false

- @page.page_file_section.where(:status => PageFileSection::PUBLISHED).each do |fs|
  .group-page-section{:id => "group-page-section-#{fs.id}"}
    .fs-header{:id => "fs_header_#{fs.id}"}
      .fs-data 
        %h3= fs.title
      - if can_publish || current_user_is_admin
        .file-section-actions
          %a.edit-section-a{:id => "edit_section_#{fs.id}", :fs_id => fs.id, :page_id => fs.page_id}= t :edit
      - if !fs.description.blank?
        .fs-description
          = raw(fs.description)
      .clearfix
    .edit-section{:id => "fs_edit_#{fs.id}"}
           
    - if can_publish || can_modify_others || can_admin || current_user_is_admin
      - list_class = 'file-list-sortable'
    - else
      - list_class = 'file-list'
    = form_tag '/page_files/reorder', :method => 'post', :remote => true, :id => "order-files-form-#{fs.id}" do |f|
      = hidden_field_tag 'page_file_section_id', fs.id
      %ul{:class=> list_class, :fs_id => fs.id, :id => "file-list-#{fs.id}"}
        - fs.page_file.where(:status => PageFile::PUBLISHED).order('position').each do |f|
          - if File.extname(f.file.to_s) == ''
            - ext = 'unknown'
          - else 
            - ext = File.extname(f.file.to_s)[1..-1]
          %li{"title" => File.basename(f.file.to_s), :id => "file-#{f.id}"}
            .file-item{:id => "file-item-#{f.id}"}
              - if can_publish || can_modify_others || can_admin || current_user_is_admin
                - can_move = 'can-move'
              - else 
                - can_move = ''
              = hidden_field_tag 'page_file_id[]', f.id
              = image_tag "/assets/mime/unknown.png", :class => can_move
              %a.file-title{'href' => "/page_files/#{f.id}/file"}
                = f.title
              .file-description= raw(f.description)
              - if can_publish || current_user_is_admin
                .file-extra
                  = ext.upcase + ", " + number_to_human_size(File.size(f.file.to_s))
                  %a.edit-file-description{:f_id => f.id, :fs_id => fs.id}= t :edit
                  = link_to (t :delete), {:controller => "page_files", :action => "mark_as_deleted", :id => f.id}, :method => :post, :remote => true, :class => 'delete-file', :'data-type' => 'html', :title => (t :delete), :f_id => f.id


    - if can_publish || current_user_is_admin
      #file-edit-item
      = form_for(PageFile.new, :remote => true, :html => {:id => "add-files-form-#{fs.id}",:multipart => true, :target => 'files-iframe', :class => 'add-files-form'}) do |f|
        = f.hidden_field :page_id, { :value => fs.page_id }
        = f.hidden_field :page_file_section_id, {:value => fs.id }
        %input{:class => 'pfs-file-input', :pfs_id => fs.id,:id => 'post_post_file_attributes_file', :multiple=>"multiple", :name=>"page_file[file][]", :type=>"file"}
        .add-files-link
          = t :add_files
    .clearfix

- if can_publish || current_user_is_admin
  %iframe#files-iframe{:width => 0, :height => 0, :scrolling => "no", :frameborder => "0", :name => "files-iframe"}
  = link_to url_for(:controller => "pages", :action => "add_file_section", :id => @page.id), :method => :post, :remote => true, :id => 'add-file-section', :'data-type' => 'html', :id => "add-file-section" do
    %span.share-plus +
    = t :add_files_section

  #edit-section-area
