- membership = current_user.memberships.where(:group_id => @page.group.id).first
- can_publish = membership.can_publish == 1 rescue false
- can_admin = membership.can_admin == 1 rescue false
- can_modify_others = membership.can_admin == 1 rescue false

#group-page  
  #group-header
    %h1= @group.name
  #group-page-inner
    #group-page-contents
      %h2= @page.title
      - if can_publish || can_admin || can_modify_others || current_user_is_admin
        #page-toolbar
          .tool.first-tool
            %a#edit-page-button= t :edit_this_page
          .tool.last-tool
            - if @page.group.default_page == @page.id
              #default-page-marker= t :default_page
            - else
              = link_to (t :set_as_default_page), {:controller => "pages", :action => "mark_as_default", :id => @page.id}, :method => :post, :remote => true, :class => 'mark-default-page', :'data-type' => 'html', :title => (t :set_as_default_page), :id => "mark-default-page-button"
      .content
        = raw(@page.content)
      .clearfix

    #group-page-files
      = render :partial => "page_files", :locals => {:page => @page, :membership => membership}

    - if can_publish || current_user_is_admin
      #edit-page
        = form_for(@page, :remote => true, :html => {:id => 'edit_page_form',:multipart => true}) do |f|
          = f.hidden_field :id
          .edit-page-title= f.text_field :title
          = f.text_area :content, :class => "tinymce", :id => "page-editor"
          = tinymce
          #page-delete-link
            = link_to (t :delete), {:controller => "pages", :action => "mark_as_deleted", :id => @page.id}, :method => :post, :remote => true, :class => 'delete-page', :'data-type' => 'html', :title => (t :delete), :id => "page-delete-link-a"
          #save-page-button
            = submit_tag (t :save), :disable_with => (t :save_wait), :id => "page-save-submit"

- if params['__from__'] == 'url'
  = render :partial => 'groups/sidebar', :locals => {:group => @page.group }

- if params['__from__'] == 'url'
  :javascript
    afterGetPage(#{@page.id}, #{@page.group_id});
