#group-page  
  #group-page-inner
    #group-page-contents
      %h2= @page.title
      .content
        = raw(@page.content)

    - membership = current_user.memberships.where(:group_id => @page.group.id).first
    - if !membership.blank?
      #page-toolbar
        %a#edit-page-button= image_tag "icons/edit.png", :title => (t :edit_this_page)
      #edit-page
        = form_for(@page, :remote => true, :html => {:id => 'edit_page_form',:multipart => true}) do |f|
          = f.hidden_field :id
          .edit-page-title= f.text_field :title
          = f.text_area :content, :class => "tinymce", :id => "page-editor"
          = tinymce
          #save-page-button
            = submit_tag (t :save), :disable_with => (t :save_wait), :id => "page-save-submit"

- if params['__from__'] == 'url'
  = render :partial => 'groups/sidebar', :locals => {:group => @page.group }

- if params['__from__'] == 'url'
  :javascript
    afterGetPage(#{@page.id});

