.post{:id => "post-#{post.id}", :last_comment => "0"}
  .post-content
    - if post.post_type_id > 1
      = render :partial => "posts/view_#{post.post_type.short_name}", :locals => {:post => post} 
    .post-text
      = post.content

  .post-who
    .post-display
      = image_tag post.user.image_url(:small).to_s, :width => 48, :height => 48, :class => "profile-picture-small"
    .post-user
      = link_to post.user.full_name, {:controller => "users", :action => "profile", :username => "#{post.user.username}"}, :method => :get, :remote => true, :class => 'get-user', :'data-type' => 'html', :id => "post_user_#{post.id}", :username => "#{post.user.username}"
    - if post.group_id > 0 && params[:group_id].blank?
      = link_to post.group, :method => :get, :remote => true, :class => 'get-group', :'data-type' => 'html', :short_name => "#{post.group.short_name}", :group_id => "#{post.group.id}" do
        .post-group= post.group.name
    .post-footer
      = link_to post, :method => :get, :remote => true, :class => 'get-post', :'data-type' => 'html', :id => "post_link_#{post.id}", :post_id => "#{post.id}" do
        = post_date(post.created_at)


  .post-comments{:id => "post-#{post.id}-comments"}
    - last_comment = 0 
    - post.comments.each do |comment|
      - last_comment = comment.id
      = render :partial => 'posts/comment', :locals => {:comment => comment }
  .post-comment-form
    = form_for(@comment, :remote => true, :html => {:class => "comment-form", :id => "comment_form_#{post.id}"}) do |f|
      = f.hidden_field :post_id, {:value => post.id}
      .comment-area
        = f.text_area :content, :id => "comment_content_#{post.id}", :class => "comment-textarea", :post_id => post.id, :placeholder => (t :add_a_comment)
        %span.comment-cancel{:post_id => post.id, :id => "comment-cancel-#{post.id}"}
          = image_tag("close.png")
      .comment-button{:id => "comment_button_#{post.id}"}
        = submit_tag (t :post_comment), :class=> 'post-comment-button', :disable_with => (t :posting_comment)
  .clearfix
:javascript
  $("#post-#{post.id}").attr("last_comment", "#{last_comment}")
