= form_for(@post, :remote => true, :html => {:multipart => true}) do |f| 
  - user = User.find(session[:user].id)
  #share-message= t :share_to_the_community
  #share-active
    #share-header
      #share-type
        = t :share 
        = f.select :post_type_id, options_from_collection_for_select(@post_types, "id", "share_title")
      #share-close
        = image_tag("close.png")
    #share-content 
      = f.text_area :content, :placeholder => (t :what_do_you_want_to_share)
      #share-add-ui
    #share-footer 
      #share-as
        = t :share_as
        - share_as_options = "<option value=\"0\">#{session[:user].full_name}</option>"
        - user.groups.where(:can_publish => 1).each do |group|
          - share_as_options += "<option value=\"#{group.id}\">#{group.name}</option>" 
        = f.select :group_id, share_as_options.html_safe
      #share-button
        = submit_tag (t :share), :disable_with => (t :share_wait), :id => "share-submit"
  .clearfix
