#share-form{:title => (t :what_do_you_want_to_share)}
  = form_for(@post, :remote => true, :html => {:multipart => true}) do |f| 
    - user = User.find(session[:user].id)
    #share-active
      #post-types
        - post_type_first = 0
        - @post_types.each do |post_type|
          - post_type_first = post_type.id if post_type_first == 0
          .post-type-block{:id => "post-type-block-#{post_type.id}"}
            %a.post-type{:post_type => post_type.id}
              = image_tag "icons/#{post_type.name}.png"
              .post-type-message{:id => "post-type-message-#{post_type.id}"}= t "#{post_type.name}_share_message"
      #share-content 
        = hidden_field_tag 'post[post_type_id]', post_type_first
        #share-add-ui
        #share-from
          #share-from-label
            = t :share_from
          #share-from-field
            - share_as_options = "<option value=\"0\">#{User.find(session[:user].id).display_name}</option>"
            - user.memberships.where(:can_publish => 1).each do |membership|
              - if membership.group.group_type.display_in == GroupType::STREAM
                - share_as_options += "<option value=\"#{membership.group.id}\">#{membership.group.name}</option>" 
            = f.select :group_id, share_as_options.html_safe
        #share-to
          #share-to-label
            = t :share_to
          #share-to-field
            = text_field_tag :to_groups, :placeholder => "Algo"

        #share-button
          = submit_tag (t :share), :disable_with => (t :share_wait), :id => "share-submit"
