#share-event
  = fields_for @post do |f|
    = f.fields_for :post_event do |event_fields|
      %table.fields-table
        %tr
          %td.label= t :event_title
          %td= event_fields.text_field :title
        %tr
          %td.label= t :event_start_date
          %td= event_fields.datetime_select :start_date, {:minute_step => 5}
        %tr
          %td.label= t :event_end_date
          %td= event_fields.datetime_select :end_date, {:minute_step => 5}
        %tr
          %td.label= t :event_location
          %td= event_fields.text_field :location
        %tr
          %td.label= t :event_link
          %td= event_fields.text_field :link

