#share-link
  = fields_for @post do |f|
    = hidden_field_tag 'dialog-height', '340'
    = f.text_area :content, :placeholder => (t :what_do_you_want_to_share)
    = f.fields_for :post_link do |link_fields|
      = link_fields.text_field :link, :placeholder => (t :type_or_paste_link)
