#upcoming-events
  #upcoming-events-inner
    %h3= t :upcoming_events
    - d_today = Time.new.strftime "%Y%m%d"
    - @events.each do |event|
      - klass = ''
      - klass = 'event-now' if Time.new.strftime("%Y%m%d") >= event.start_date.strftime("%Y%m%d")
      .upcoming-event{:class => klass}
        .sheet
          .month= l(event.start_date, :format => "%b")
          .day= event.start_date.day
        .event-title
          = link_to event.title, {:controller => 'posts', :action => 'show', :id => event.post.id}, :method => :get, :remote => true, :class => 'get-post', :'data-type' => 'html', :id => "post_link_#{event.post.id}", :post_id => "#{event.post.id}"
        - if event.start_date.strftime("%Y%m%d") == event.end_date.strftime("%Y%m%d")
          .event-date=  "#{l(event.start_date, :format =>  "%l:%M %p")} - #{l(event.end_date, :format =>  "%l:%M %p")}"
        - else
          .event-date=  "#{l(event.start_date, :format =>  "%l:%M %p")}"
          .event-date= "#{l(event.end_date, :format =>  "%b %d, %Y %l:%M %p")}"
    #full-calendar-link
      = link_to (t :full_calendar), "#!/events/calendar/#{Time.new.year}"
