!!!
%html
  %head
    %title= "SOMOS - #{@page_title}"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body#body
    #topbar
      #top-bar-full
        #topbar-content
          #brand= image_tag "logo.png"
          #user-area
          #search-box
            = form_tag '/search/', :id => 'live-search', :method => 'get', :remote => true do
              = text_field_tag :q, nil, :id => 'search-input', :placeholder => 'Busqueda'
            #search-results
    #flash-notice
    #wrapper
      #nav
      #container
        = yield
        .clearfix
    #wrapper-iframe
      %iframe{:id => 'ext-iframe'}
